@font-face {
  font-family: 'Zurch';
  src: url(../fonts/ZURCH.ttf)
}

@import 'variables';
@import 'clouds';

html, body {
  margin: 0;
  padding: 0;
}

.container {
  background: #6EB8E2;
  width: 600px;
  height: 400px;
  position: relative;
}

#canvas {
  position: absolute;
  top: 90px;
  left: 140px;
  transform: scale(0.7) rotateZ(-10deg);
  z-index: 3;
}

#hs-box {
  position: absolute;
  top: 0;
}

#sausage {
  position: absolute;
  z-index: 1;
}